    .body1 {
      font-family: Arial, sans-serif;;
      padding: 20px;
      max-width: 600px;
      margin: auto;
      margin-top: 125px;
    }
    h2 {
      color: #333;
      padding-bottom: 25px;
    }
    form {
      padding: 5px;
      border-radius: 10px;
      box-shadow: 0 0 5px rgba(0,0,0,0.1);
      margin-bottom: 20px;
    }
    input, button {
      width: 100%;
      padding: 10px;
      margin: 8px 0;
      border-radius: 5px;
      border: 1px solid #ccc;
    }
    button {
      background: #7759f5;
      color: white;
      cursor: pointer;
    }
    button:hover {
      background: #493697;
    }
    pre {
      background: #222;
      color: #0f0;
      padding: 10px;
      border-radius: 5px;
      overflow-x: auto;
    }